:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    font-family: 'Roboto Mono', monospace;
} 

body {
    color: black;
    background-color: var(--bg-primary);
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}
.main {
    margin-left: 7rem;
    padding: 1rem;
    padding-bottom: 0;
}
.navbar {
    position: fixed;
    background-color: var(--bg-secondary);
    top: 0;
    width: 7rem;
    height: 100vh;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}
  
.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
}
  
.nav-link:hover {
    background: var(--bg-primary);
    color: var(--text-secondary);
    
}
.nav-link:focus{
    background-color: var(--bg-primary);
}
  
.link-text {
    margin-left: 1rem;
}
  
.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-primary {
    color: var(--text-primary);
}
  
.fa-secondary {
    
    color: var(--text-secondary);
}
.container
{
    height:34rem;
    width: 100%;
}

#cursor 
{
    position: absolute;
    width: 30px;
    height: 30px;
    border: 3px solid #000;
    box-sizing: border-box;
    transition: 0.1s;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    pointer-events: none;
}

#divider 
{
  padding:0;
  height: 6px;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 3px;
  background-color: var(--bg-secondary);
}
.heading
{
    margin-left: 2rem;
    margin-top: 2rem;
}
.animate
{
    font-size: 3rem;
    color: var(--text-primary);
    font-weight: 1000;
}
@keyframes animate
{
    0% 
    {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100% 
    {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}
.home-box 
{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.home-content
{
    width: 46%;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    color: var(--text-primary);
    font-size: 1.75rem;
    font-weight: 700;
    height: 25rem;
    justify-content: center;
}
.home-img
{
    width: 50%;
    margin-left: 4%;
    padding-left: 8rem;
}
.home-img img 
{
    width: 100%;
    height: 25rem;
}
.about-content 
{
    height: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    font-size: 1.75rem;
    color: var(--text-primary);
    font-weight: 700;
}
#work
{
    height: 40rem;
}
#coding
{
    margin: 1rem;
}
.work-head
{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 4rem;
}
.work-head  span 
{
    font-weight: bolder;
    font-size: 1.5rem;
    color: #000;
    padding: 8px;
    background-color: #12f382;
    border: 2px solid #000 ;
    border-radius: 10px;
}

.contact-content 
{
    color: var(--text-primary);
    margin-left: 4rem;
    font-size: 1.75rem;
    font-weight: 700;
    margin-top:2rem;
}
.contact-link
{
    margin-top: 10rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.resume-link,.project-link,.open-source-link
{
    text-decoration: none;
    text-align: center;
}
.resume-link #button,.project-link #button,.open-source-link #button
{
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
    color: #000;
    padding: 1rem;
    background-color: #12F3E2;
    border-radius: 2rem;
    border: 2px solid #000;
}
#big-box 
{
  margin: 4rem;
}

.buttons 
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer 
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top:5.5rem;
    width: 100%;
    bottom: 0;
    height: 3rem;
    background-color: var(--bg-secondary);
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: var(--text-primary);  
}
.footer span 
{
    padding-top: .75rem;
}
.footer a
{
   text-decoration: none;
   color: rgb(255, 94, 0);
}
#logo
{
  fill: #12F3E2 ;
  stroke-width: 3;
}
#plogo
{
    fill:var(--bg-secondary)
}
svg
{
  width: 4rem;
  height: 4rem;
}
#skills
{
    height: 50rem;
}
.skill 
{
    margin-left: 2rem;
    height: 8rem;
    width: 100%;
    color: var(--text-primary);
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    text-align: center;
    font-weight: bold;
}
.list 
{
    height: 4rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}
.list-coding 
{
    height: 5rem;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.box 
{
   margin-top: 1rem;
   margin-bottom: 1rem;
   width: 15%;
   height: 100%;
   border: 2px solid #000;
   border-radius: 30px;
}
.box-coding
{
   margin-top: 1rem;
   margin-bottom: 1rem;
   width: 27%;
   height: 100%;
   border: 2px solid #000;
   border-radius: 30px;
}
.circle 
{
    height: 100%;
    width:35%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.circle-coding 
{
    height: 100%;
    width:33%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.final 
{
    margin-left: 20%;
    width: 70%;
    height: 65%;
    border-radius: 10rem;
    border: 2px solid #000;
}
.final-coding 
{
    margin-left: 10%;
    width: 48%;
    height: 50%;
    border-radius: 10rem;
    border: 2px solid #000;
}
#f3
{
    background-color: #ff0009;
}
#f2
{
    background-color: #ff0;
}
#f1 
{

    background-color: rgb(139, 243, 78);
}

#f3-coding
{
    background-color: #ff0009;
}
#f2-coding
{
    background-color: #ff0;
}
#f1-coding 
{

    background-color: rgb(139, 243, 78);
}

.content-coding 
{
    height: 100%;
    width: 65%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.80rem;
    color: #000;
    font-weight: bold;
}
#bold
{
  color: rgb(219, 165, 17);
}

.content-coding  a
{
    text-decoration: none;
    color: #1eb87d;
}
.type span 
{
    padding:5px;
    background-color: #12F3E2;
    border-radius: 20px;
    border: 1.9px solid #000;
    color: #141418;
    font-size: 1.2rem;
}
.contact-link a 
{
    text-decoration: none;
    
}
.content 
{
    height: 100%;
    width: 60%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.75rem;
    color: #000;
}


.dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #626264;
    --bg-secondary: #141418;
}
  
.light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #d8d3d3;
}
  
.solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f8e1a3;
}
  
.theme-icon {
    display: none;
}
  
.dark #darkIcon {
    display: block;
}
  
.light #lightIcon {
    display: block;
}
  
.solar #solarIcon {
    display: block;
} 

.project-heading
{
    color: var(--text-primary);
    font-size: 1.6rem;
    text-align: center;
    font-weight: bolder;
    margin: 1.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--bg-secondary);
    font-size: 3rem;
    color: var(--text-primary);
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 150px;
    width: 70%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

 .card 
 {
     display: flex;
     flex-direction: row;
 }
 .pno 
 {
     flex:1;
     color: var(--text-primary);
     height: 80%;
     font-size: 8rem;
     text-align: center;
     background-color: var(--bg-primary);
     margin: 20px;
     border-radius: 10px;
     font-family: 'Iceland', cursive;
 }
 .pdes 
 {
     flex:3;
     height: 100%;
     text-align: center;
     font-size: 1rem;
     font-weight: bold;
 }
 .plink 
 {
     flex:1;
     height: 80%;
     font-size: 8rem;
     text-align: center;
     background-color: var(--bg-primary);
     margin: 20px;
     border-radius: 10px;
     font-family: 'Iceland', cursive;
     
 }
 .basic-flex 
 {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .footer-new 
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    bottom: 0;
    height: 3rem;
    background-color: var(--bg-secondary);
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: var(--text-primary);
    margin-top: 1rem;
}
.footer-new span 
{
    padding-top: .75rem;
}
.footer-new a
{
   text-decoration: none;
   color: rgb(255, 94, 0);
}

.error-open-source 
{
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    font-size: 1.5rem;
    padding: 40px;
    min-height:430px;
    border-radius: 10px;
}
.easy_hack {
    height: 220px;
}
.pdes a {
    text-decoration: none;
    color: rgb(255, 94, 0);
}
.pdes h2 {
    color: rgb(255, 94, 0);
}