:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    font-family: 'Roboto Mono', monospace;
}

body {
    color: black;
    background-color: var(--bg-primary);
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}
.main {
    margin-left: 7rem;
    padding: 1rem;
}
.navbar {
    position: fixed;
    background-color: var(--bg-secondary);
}
  
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--text-primary);
} 
.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}
  
.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
}
  
.nav-link:hover {
    background: var(--bg-primary);
    color: var(--text-secondary);
}
  
.link-text {
    margin-left: 1rem;
}
  
.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-primary {
    color: var(--text-primary);
}
  
.fa-secondary {
    
    color: var(--text-secondary);
}
.container
{
    height: 100vh;
    width: 100%;
}
#cursor 
{
    position: absolute;
    width: 50px;
    height: 50px;
    border: 2px solid #000;
    box-sizing: border-box;
    transition: 0.1s;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    pointer-events: none;
}
#divider 
{
  padding:0;
  height: 6px;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 3px;
  background-color: var(--bg-secondary);
}
@media only screen and (max-width: 600px) {
    .navbar-nav {
        position: fixed;
        left: -100%;
        top: 1.5rem;
        flex-direction: column;
        background-color: var(--bg-secondary);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        align-items: center;
    }
    .navbar-nav.active {
        left: 0;
    }
    .hamburger
    {
        width: 100vw;
        height: 2rem;
        align-items: center;
        display: block;
        padding-top: 2px;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
    #cursor
    {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 7rem;
      height: 100vh;
    }
}
  
.dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #626264;
    --bg-secondary: #141418;
}
  
.light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #d8d3d3;
}
  
.solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f8e1a3;
}
  
.theme-icon {
    display: none;
}
  
.dark #darkIcon {
    display: block;
}
  
.light #lightIcon {
    display: block;
}
  
.solar #solarIcon {
    display: block;
} 